.row
    .col-xs-7.col-md-offset-1
        | Picture
    .col-xs-3
        | Item details
.row.description-container
    .col-xs-7.col-md-offset-1
        h1 Descripción del Producto
        p El Edificio Chrysler (en inglés, Chrysler Building) es un rascacielos de estilo art déco situado en la intersección de la Calle 42 con Lexington Avenue, en el East Side de Midtown Manhattan, Nueva York, en el barrio de Turtle Bay. Con 77 plantas y 319 metros de altura, fue el edificio más alto del mundo durante once meses, hasta que lo superó el Empire State Building en 1931. Sigue siendo el edificio de ladrillos más alto del mundo, aunque su estructura es de acero.
