.row
    .col-xs-10.col-md-offset-1
        ml-breadcrumbs(links='[{text: "Electrónica, Audio y Video"}, {text: "Accesorios para Audio y Video"}, {text: "Media Streaming"}, {text: "Chromecast"}]')
.row
    .col-xs-10.col-md-offset-1
        .item-details-page
            .row
                .col-xs-9
                    img.item-picture(ng-src='{{::itemDetailsControllerVm.item.picture}}')
                    .description
                        h2.title(translate='') item-details-page.description-section-title
                        p.text.text-capitalize(ng-bind-html='::itemDetailsControllerVm.item.description')
                .col-xs-3
                    .item-details
                        .extra-info
                            span(translate='{{"item-details-page.item-details.condition." + itemDetailsControllerVm.item.condition}}') - 
                            span  - 
                            span(
                                translate='item-details-page.item-details.sold',
                                translate-values='{"quantity": itemDetailsControllerVm.item.sold_quantity}')
                        h1 {{::itemDetailsControllerVm.item.title}}
                        ml-price(price='::itemDetailsControllerVm.item.price')
                        button.btn.btn-primary.btn-block(type='button', translate='') item-details-page.buy-button
