// Expand the search box in navigation bar
.navbar-form {
    padding-right: 0;

     .form-group {
         display: inline;

         .input-group {
             display: table;

             .input-group-addon {
                 width: 1%;
             }
         }
     }
}
