.row
    .col-xs-10.col-md-offset-1
        ml-breadcrumbs(links='searchResultsControllerVm.categories')
.row
    .col-xs-10.col-md-offset-1
        ml-search-results.clearfix(results='searchResultsControllerVm.searchResults')
