// Override text colors on Breadcrumbs element
ml-breadcrumbs {
    display: block;

    .breadcrumb {
        @include ml-margin-vertical();
        padding: 0;

        li {
            color: $ml-gray;

            &.active {
                font-weight: bold;
            }
        }
    }

}
